@using FidelityCard.Application.Dtos.Response;
@model IEnumerable<UserResponseDto>

@{
	ViewData["Title"] = "Users";
}


<h1>Registered USERS</h1>

<div class="d-grid gap-2">
	<a asp-action="Create"><button class="btn btn-secondary" type="button"> - Register a New User - </button></a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Email
			</th>
			<th>
				Company
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in ViewBag.Users)
		{
			<tr>
				<td>
					@user.Name
				</td>
				<td>
					@user.Email
				</td>
				<td>@foreach (var company in ViewBag.Companies)
					{
						if (user.CompanyId == company.Id)
							@company.TradeName
					}
					</td>
				<td>
					<a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a> |
					<a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Details</button></a> |
					<a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Delete</button></a>
				</td>
			</tr>
		}
	</tbody>
</table>
